{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>
<div class="formContainer">
    <div class="form-background">

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, { 'attr' : { 'class': 'registration-form' } }) }}
        <div class="forminfo">

            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            <div class="flex">
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Accepter les conditions'
            }) }}
            </div>
            {{ form_row(registrationForm.firstname, {
                label: 'Prénom'
            }) }}
            {{ form_row(registrationForm.lastname, {
                label: 'Nom de famille'
            }) }}
            {{ form_row(registrationForm.phoneNumber, {
                label: 'Numéro de téléphone'
            }) }}

        </div>
        <div class="forminfo">

            {{ form_row(registrationForm.city, {
                label: 'Ville'
            }) }}
            {{ form_row(registrationForm.occupation, {
                label: 'Profession'
            }) }}

            {{ form_row(registrationForm.photoFile, {
                label: 'Photo profil'
            }) }}

            {{ form_row(registrationForm.reseau, {
                label: 'Mon réseau'
            }) }}
            {{ form_row(registrationForm.description) }}
            <button type="submit" class="button center">Inscription</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
