{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    <div class="square-container-column">
        <div class="forminfo">
    {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.phoneNumber) }}
                {{ form_row(registrationForm.city) }}
                {{ form_row(registrationForm.occupation) }}
                {{ form_row(registrationForm.description) }}
                {{ form_row(registrationForm.photo) }}
                {{ form_row(registrationForm.reseau) }}
        </div>

            <button type="submit" class="btn">Inscription</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
