{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>COLLABORATEURS</h1>
<div class="search">
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="input">Envoyer</button>
    {{ form_end(form) }}
</div>
    <div class="container-admin">
    <table class="my-class">
        <div class="ref">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Téléphone</th>
                <th>Ville</th>
                <th>Profession</th>
                <th>Actions</th>
            </tr>
        </div>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.occupation }}</td>
                <td>
                    <button class="btn" onclick="window.location.href='{{ path('app_admin_show', {'id': user.id}) }}'">Voir</button>
                    <button class="btn" onclick="window.location.href='{{ path('app_admin_edit', {'id': user.id}) }}'">Modifier</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{#    <a href="{{ path('app_admin_new') }}">Créer</a>#}
{% endblock %}
