{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Opinion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Votre avis</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opinion in opinions %}
            <tr>
                <td>{{ opinion.id }}</td>
                <td>{{ opinion.text }}</td>
                <td>{{ opinion.createdAt ? opinion.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_opinion_show', {'id': opinion.id}) }}">show</a>
                    <a href="{{ path('app_opinion_edit', {'id': opinion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_opinion_new') }}">Create new</a>
{% endblock %}
