<div class="square-container-column-new">
{{ form_start(form) }}
<div class="card-new-title">
    {{ form_row(form.title, {'label': 'Titre de la décision : '}) }}
</div>

<div class="date-box">
    {{ form_row(form.description, {'label': 'La description de la décision : '}) }}
</div>

<div class="date-box">
    {{ form_row(form.impact, {'label': "L'impact de la mise en action"}) }}
</div>

<div class="date-box">
    {{ form_row(form.context , {'label': 'Situation actuelle'}) }}
</div>

<div class="date-box">
    {{ form_row(form.benefits, {'label': 'Les bénéfices'}) }}
</div>

<div class="date-box">
    {{ form_row(form.risk, {'label': 'Les risques'}) }}
</div>

<div class="date-box">
    {{ form_row(form.startingDate , {'label': 'La décision commencera le : '}) }}
</div>

<div class="date-box">
    {{ form_row(form.deadlineOpinion, {'label': 'Date pour donner son opinion : '}) }}
</div>

<div class="date-box">
    {{ form_row(form.deadlineDecision, {'label': 'La première décision devra être prise avant le  : '}) }}
</div>

<div class="date-box">
    {{ form_row(form.deadlineConflict , {'label': 'Date final pour rentrer en conflit : '}) }}
</div>

<div class="date-box">
    {{ form_row(form.deadlineFinal , {'label': 'La décision devra être prise avant le : '}) }}
</div>

<div class="">
    {{ form_label(form.users) }}
    {{ form_errors(form.users) }}
    {{ form_widget(form.users) }}
</div>
    <div class="">
        {{ form_label(form.userExpert) }}
        {{ form_errors(form.userExpert) }}
        {{ form_widget(form.userExpert) }}
    </div>
    <div class="">
        {{ form_label(form.groupes) }}
        {{ form_errors(form.groupes) }}
        {{ form_widget(form.groupes) }}
    </div>

<div class="">
    <button class="button">{{ button_label|default('Envoyer ma décision') }}</button>
</div>

{{ form_end(form) }}
</div>

