{% extends 'base.html.twig' %}

{% block title %}Propositions{% endblock %}

{% block body %}

    <h1>Les propositions en cours</h1>
    <div class="separator"></div>
    <div class="decisionBox">
        {% for decision in decisions %}
            {% if actualDate < decision.deadlineFinal %}
                <a class="noTextDecoration" href="{{ path('app_decision_show', {'id': decision.id}) }}">
                    <div class="my-card">
                        <div class="my-card-body">
                            <h2 class="my-card-title">{{ decision.title }}</h2>
                            <p class="my-card-text text-dont-move">{% autoescape false %}{{ decision.description|striptags|raw|split(' ')|slice(0, 3)|join(' ') ~ " ..." }}{% endautoescape %}</p>
                            <div class="container-profile">
                                <img src="{{ asset('uploads/images/photo/' ~ decision.owner.photo) }}">
                                <p>Par <span>{{ decision.owner.firstname }} </span></p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>

    <h1>Les propositions terminées</h1>
    <div class="separator"></div>
    <div class="decisionBox">
        {% for decision in decisions %}
            {% if actualDate > decision.deadlineFinal %}
                <a class="noTextDecoration" href="{{ path('app_decision_show', {'id': decision.id}) }}">
                    <div class="my-card">
                        <div class="my-card-body">
                            <h2 class="my-card-title">{{ decision.title }}</h2>
                            <p class="my-card-text text-dont-move">{% autoescape false %}{{ decision.description|striptags|raw|split(' ')|slice(0, 3)|join(' ') ~ " ..." }}{% endautoescape %}</p>
                            <div class="container-profile">
                                <img src="{{ asset('uploads/images/photo/' ~ decision.owner.photo) }}">
                                <p>Par <span>{{ decision.owner.firstname }} </span></p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <a href="{{ path('app_decision_new') }}" class="button" >
        Créer une nouvelle proposition
    </a>
{% endblock %}



