{% extends 'base.html.twig' %}

{% block title %}Decision index{% endblock %}

{% block body %}
    <h1>Decision index</h1>
    <div class="decisionBox">
        {% for decision in decisions %}
            <a class="noTextDecoration" href="{{ path('app_decision_show', {'id': decision.id}) }}">
                <div class="my-card">
                    <div class="my-card-body">
                        <h2 class="my-card-title"> {{ decision.title }}</h2>
                        <p class="my-card-text"> {{ decision.description|split(' ')|slice(0, 20)|join(' ') ~ " ..." }} </p>
                        <p>Créé par :
                            {% for user in decision.users %}
                                {{ user.firstname ~ ' ' ~ user.lastname }}
                                 </p>
                            {% endfor %}

                    </div>
                </div>
            </a>

        {% else %}
            Aucune décision
        {% endfor %}
    </div>
    <a href="{{ path('app_decision_new') }}">
        <button class="button">
            Créer une nouvelle décision
        </button>
    </a>
{% endblock %}
{# <a href="{{ path('app_decision_show', {'id': decision.id}) }}">show</a>
                    <a href="{{ path('app_decision_edit', {'id': decision.id}) }}">edit</a> #}
