{% extends 'base.html.twig' %}

{% block title %}Decision index{% endblock %}

{% block body %}
    <h1>Decision index</h1

        {% for decision in decisions %}
<div class="flex">
            <div class="my-card">
                <div class="my-card-body">
                    <h2 class="my-card-title"> {{ decision.title }}</h2>
                    <p class="my-card-text"> {{ decision.description }} </p>

                    <a href="{{ path('app_decision_show', {'id': decision.id}) }}">show</a>
                    <a href="{{ path('app_decision_edit', {'id': decision.id}) }}">edit</a>
                </div>
            </div>
</div>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
    <a href="{{ path('app_decision_new') }}">Create new</a>
{% endblock %}
