{% extends 'base.html.twig' %}

{% block title %}Mes propositions{% endblock %}

{% block body %}
    <h1>Mes propositions</h1>

    <div class="decisionBox">
        {% for decision in decisions %}
                <a class="noTextDecoration" href="{{ path('app_decision_show', {'id': decision.id}) }}">
                    <div class="my-card">
                        <div class="my-card-body">
                            <h2 class="my-card-title">{{ decision.title }}</h2>
                            <p class="my-card-text">{% autoescape false %}{{ decision.description|raw |split(' ')|slice(0, 10)|join(' ') ~ " ..." }}{% endautoescape %}</p>
                            <div class="container-profile">
                                <img src="{{ asset('uploads/images/photo/' ~ decision.owner.photo) }}">
                                <p>Par <span>{{ decision.owner.firstname }} </span></p>
                            </div>
                        </div>
                    </div>
                </a>
        {% endfor %}
    </div>
    <a href="{{ path('app_decision_new') }}" class="button">
        Créer une nouvelle proposition
    </a>
{% endblock %}
