{% extends 'base.html.twig' %}

{% block title %}Decision{% endblock %}


{% block body %}
    <div class="square-container-column-decision">
            <div>
                <h2>Les dates</h2>
                <p>Début de la décision: <span class="">{{ decision.startingDate ? decision.startingDate|date('Y-m-d H:i:s') : '' }}</span></p>
                <p>Date final pour commenter: <span class="">{{ decision.deadlineOpinion ? decision.deadlineOpinion|date('Y-m-d H:i:s') : '' }}</span></p>
                <p>Date de fin de la décision: <span class="">{{ decision.deadlineDecision ? decision.deadlineDecision|date('Y-m-d') : '' }}</span></p>
                <p>Date de fin des conflits: <span class="">{{ decision.deadlineConflict ? decision.deadlineConflict|date('H:i:s') : '' }}</span></p>
                <p>Date de fin: <span class="">{{ decision.deadlineFinal ? decision.deadlineFinal|date('H:i:s') : '' }}</span></p>
            </div>
    <div>
        <h2> Descritpion <i class="fa-solid fa-chevron-down"></i></h2>
    </div>
    <div>
        <p>{{ decision.description }} </p>
    </div>
    <div>
    <h2> Impact sur l’organisation <i class="fa-solid fa-chevron-down"></i></h2>
    </div>
    <div>
    <p>{{ decision.impact }}</p>
        </div>
    <div>
            <h2> Situation actuelle  <i class="fa-solid fa-chevron-down"></i></h2>
</div>
    <div>
        <p>{{ decision.context }}</p>
    </div>
    <div>
        <h2> Les bénéfices  <i class="fa-solid fa-chevron-down"></i></h2>
    </div>
    <div>
        <p>{{ decision.benefits }}</p>
    </div>
    <div>
        <h2> Les risques  <i class="fa-solid fa-chevron-down"></i></h2>
    </div>
    <div>
        <p>{{ decision.risk }}</p>
    </div>
    <div> <h2> Les personne impactées</h2></div>
    {% for user in users %}
        <li>{{ user.firstname }}</li>
    {% endfor %}
    <div>
        <a href="{{ path('new_opinion', {'id': decision.id}) }}"> Donner votre avis </a>
    </div>
</div>

    <div>
        <a href="{{ path('app_decision_index') }}">Retour à la liste</a>
        <a href="{{ path('app_decision_edit', {'id': decision.id}) }}">Modifier</a>
        {{ include('decision/_delete_form.html.twig') }}
    </div>
{% endblock %}
