{% extends 'base.html.twig' %}

{% block title %}Proposition{% endblock %}


{% block body %}
    <div class="square-container-column-decision">
        <div class="dates-container">
            <div>
                <h2>Dates à retenir</h2>
            </div>

            <div class="date-child
                {% if current_step is defined and current_step == 1 %}
                    date_active
                {% endif %}">
                <p>Commencée le : {{ decision.startingDate ? decision.startingDate|date('Y-m-d') : '' }}</p>
                <p class="decision-starting">Début de la proposition</p>
            </div>

            <div class="date-child
                {% if current_step is defined and current_step == 2 %}
                   date_active
                {% endif %}">
                <p>Échéance le {{ decision.deadlineOpinion ? decision.deadlineOpinion|date('Y-m-d') : '' }} </p>
                <p class="give-opinion">Donner son avis</p>
            </div>

            <div class="date-child
                {% if current_step is defined and current_step == 3 %}
                    date_active
                {% endif %}">
                <p>Échéance le {{ decision.deadlineDecision ? decision.deadlineDecision|date('Y-m-d') : '' }}</p>
                <p class="decision-taken">Première décision prise</p>
            </div>

            <div class="date-child
                {% if current_step is defined and current_step == 4 %}
                   date_active
                {% endif %}">
                <p>Échéance le {{ decision.deadlineConflict ? decision.deadlineConflict|date('Y-m-d') : '' }}</p>
                <p class="conflict">Période de débat</p>
            </div>
            <div class="date-child
                {% if current_step is defined and current_step == 5 %}
                     date_active
                {% endif %}">
                <p>Échéance le  {{ decision.deadlineFinal ? decision.deadlineFinal|date('Y-m-d') : '' }}</p>
                <p class="decision-ending">Décision définitive</p>
            </div>
        </div>
        <div class="other-container">
            <h1> {{ decision.title }} </h1>
            <div>
                <h2 class="textForHover"> Description <i class="fa-solid fa-chevron-down"></i></h2>
            </div>
            <div class="decisionP" id="descriptionContent" style="display: none;">
                <p>{{ decision.description|raw }}</p>
            </div>
            <div>
                <h2 class="textForHover"> Impact sur l'organisation <i class="fa-solid fa-chevron-down"></i></h2>
            </div>
            <div class="decisionP" id="impactContent" style="display: none;">
                <p>{{ decision.impact|raw }}</p>
            </div>

            <div>
                <h2 class="textForHover"> Situation actuelle <i class="fa-solid fa-chevron-down"></i></h2>
            </div>
            <div class="decisionP" id="situationContent" style="display: none;">
                <p>{{ decision.context|raw }}</p>
            </div>

            <div>
                <h2 class="textForHover"> Les bénéfices <i class="fa-solid fa-chevron-down"></i></h2>
            </div>
            <div class="decisionP" id="benefitsContent" style="display: none;">
                <p>{{ decision.benefits|raw }}</p>
            </div>

            <div>
                <h2 class="textForHover"> Les risques <i class="fa-solid fa-chevron-down"></i></h2>
            </div>
            <div class="decisionP" id="risksContent" style="display: none;">
                <p>{{ decision.risk|raw }}</p>
            </div>

            <div>
                <h2> Avis sur la décision <i class="fa-solid fa-chevron-down"></i></h2>
            </div>
            <div class="flex">
                <i class="violet fa-solid fa-circle-dot"></i>
                <p> Violet = Auteur</p>
            </div>
            <div class="flex">
                <i class="yellow fa-solid fa-circle-dot"></i>
            <p> Jaune = Personnes Expertes</p>
            </div>
            <div class="flex">
            <i class="white fa-solid fa-circle-dot"></i>
            <p> Blanc = Membres</p>
                </div>
            {% for opinion in decision.opinions %}
                {% if opinion in currentStepOpinions or opinion in previousStepOpinions %}

                    <div class="decisionP
                       {% if opinion.author == decision.owner %}
                      owner_active
                      {% elseif opinion.author in decision.userExpert %}
                      expert
                      {% endif %}"
                         id="opinionContent{{ loop.index }}">
                        <p>{{ opinion.text }}</p>
                        <p>{{ opinion.createdAt ? opinion.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                        <p>
                            {% if opinion.author is not null %}
                                {{ opinion.author.firstname }} {{ opinion.author.lastname }}
                            {% else %}
                                Auteur.e inconnu.e
                            {% endif %}
                        </p>
                        <div>
                            {% if opinion.author == decision.owner %}
                                Auteur.e
                            {% elseif opinion.author in decision.userExpert %}
                                Expert.e
                            {% endif %}
                        </div>


                    </div>
                {% endif %}
            {% endfor %}

            {% if current_step == 3 or current_step == 5 %}
                {% if app.user == decision.owner %}
                    <div class="withMarginTop">
                        <a class="button" href="{{ path('new_opinion', {'id': decision.id}) }}"> Donner votre avis </a>
                    </div>
                {% endif %}
            {% else %}
                {% if app.user in decision.users or app.user in decision.userExpert or app.user in decision.groupes %}
                    <div class="withMarginTop">
                        <a class="button" href="{{ path('new_opinion', {'id': decision.id}) }}"> Donner votre avis </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="impacted-person">
            <div>
                <h2> Les personnes impactées</h2>
            </div>
            <div class="decision-user-list">
                {% for user in users %}
                    <div class="decision-user-list-user">
                        <p>{{ user.firstname }}</p>
                        <a href="{{ path('app_user_profile_show', {id: user.id}) }}">
                            <img src="{{ asset('uploads/images/photo/' ~ user.photo ) }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div>
                <h2> Les personnes expertes</h2>
            </div>
            <div class="decision-user-list">
                {% for user in userExpert %}
                    <div class="decision-user-list-user">
                        <p>{{ user.firstname }}</p>
                        <a href="{{ path('app_user_profile_show', {id: user.id}) }}">
                            <img src="{{ asset('uploads/images/photo/' ~ user.photo ) }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div>
                <h2> Les groupes impactés</h2>
            </div>
            {% for group in groupes %}
                <li>{{ group.name }}</li>
            {% endfor %}

            {#            {% if current_step == 3 or current_step == 5 %}
                {% if app.user == decision.owner %}
                    <div class="withMarginTop">
                        <a class="button" href="{{ path('new_opinion', {'id': decision.id}) }}"> Donner votre avis </a>
                    </div>
                {% endif %}
            {% else %}
                {% if app.user in decision.users or app.user in decision.userExpert or app.user in decision.groupes %}
                    <div class="withMarginTop">
                        <a class="button" href="{{ path('new_opinion', {'id': decision.id}) }}"> Donner votre avis </a>
                    </div>
                {% endif %}
            {% endif %}#}
        </div>
    </div>
    <div class="button-container">
        <div class="button"> <a  href="{{ path('app_decision_index') }}">Retour à la liste</a></div>
        {% if decision.owner == app.user %}
            <div class="button">
                <a href="{{ path('app_decision_edit', {'id': decision.id}) }}">Modifier</a>
            </div>
        {% endif %}

        {% if decision.owner == app.user or is_granted('ROLE_ADMIN') %}
            {{ include('decision/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
