{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <h1>Group</h1>

    <table class="table">
        <tbody>
            <tr>
                {# <th>Id</th>
                <td>{{ group.id }}</td> #}
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ group.name }}</td>
            </tr>
        <tr>
            <th>Participants</th>
            <td>{% for user in group.users %}
                    {{ user.firstname }} {{ user.lastname }}
                {% endfor %}</td>

        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_group_index') }}">back to list</a>

    <a href="{{ path('app_group_edit', {'id': group.id}) }}">edit</a>

    {{ include('group/_delete_form.html.twig') }}
{% endblock %}
