{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock %}

{% block body %}
    <h1>Modifier votre profil</h1>

        {{ form_start(form) }}
    <div class="profil">
        <div class="profil-bloc">
            <img src="{{ vich_uploader_asset(user) }}" alt="{{ user.photo }}">
            {{ form_widget(form.photoFile) }}
            <h3>{{ user.firstname }} {{ user.lastname }}</h3>

            <p>{{ user.occupation }}</p>
            {{ form_widget(form.occupation) }}
        </div>
        <div class="profil-bloc">
            <h3>Description</h3>
            {{ form_widget(form.description) }}
        </div>
        <div class="profil-bloc profil-bloc-modif">
            <div class="profil-bloc-row">
                <h3>Prénom : </h3>
                {{ form_widget(form.firstname) }}
            </div>
            <div class="profil-bloc-row">
                <h3>Nom : </h3>
                {{ form_widget(form.lastname) }}
            </div>
            <div class="profil-bloc-row">
                <h3>Mail :</h3>
                {{ form_widget(form.email) }}
            </div>
            <div class="profil-bloc-row">
                <h3>Téléphone :</h3>
                {{ form_widget(form.phoneNumber) }}
            </div>
            <div class="profil-bloc-row">
                <h3>Ville :</h3>
                {{ form_widget(form.city) }}
            </div>
            <div class="profil-bloc-row">
                <h3>Mon Reseau :</h3>
                {{ form_widget(form.reseau) }}
            </div>
        </div>
    </div>
    <button class="btn">{{ button_label|default('Valider') }}</button>
    {{ form_end(form) }}

    <a class="btn" href="{{ path('app_user_show', {'id': app.user.id}) }}">Annuler</a>
{% endblock %}
